@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&display=swap');
/* @font-face {
  font-family: 'MyCustomFont';
  src: url(./assets/Fonts/DripOctober-vm0JA.ttf) format('truetype');
} */  
 /* fontface here is used to add custom font . */


@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

*{
  font-family: "Manrope", sans-serif ;
  /* font-family: 'MyCustomFont';   IT IS DECLARED HERE */ 
  font-weight: 500;
  cursor: none
};

@theme {
  --color-primary: #5044E5;
};
/* In your globals.css (or Tailwind config layer) */
input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

input:invalid,
textarea:invalid {
  box-shadow: none !important;
}
